{% extends './base.html' %}
{% block content %}
{% load custom_filters %}
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="index.html">
                        <img src="" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="wishlist.html" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    <a href="cart.html" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Umumiy</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Mahsulotlar</a></li>
                    <li class="breadcrumb-item active">Mahsulot</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product Detail Start -->
        <div class="product-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="product-detail-top">
                            <div class="row align-items-center">
                                <div class="col-md-5">
                                    <div class="product-slider-single normal-slider">
                                        {% for rasm in product.Mahsulot.all %}
                                            <img src="{{ rasm.rasmi.url }}" alt="Product Image">
                                        {% endfor %}
                                    </div>
                                        {% if product.Mahsulot.count > 1 %}
                                        <div class="product-slider-single-nav normal-slider">
                                            {% for rasm in product.Mahsulot.all %}
                                                <div class="slider-nav-img"><img src="{{ rasm.rasmi.url }}" alt="Product Image"></div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-7">
                                    <div class="product-content">
                                        <div class="title"><h2></h2></div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="price">
                                            <h4>Narxi:</h4>
                                            <p>{{ product.narxi }} <span></span></p>
                                        </div>
                                        <div class="quantity">
                                            <h4>Soni:</h4>
                                            <div class="qty">
                                                <button class="btn-minus"><i class="fa fa-minus"></i></button>
                                                <input type="text" value="1">
                                                <button class="btn-plus"><i class="fa fa-plus"></i></button>
                                            </div>
                                        </div>
                                        <!-- <div class="p-size">
                                            <h4>Size:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn">S</button>
                                                <button type="button" class="btn">M</button>
                                                <button type="button" class="btn">L</button>
                                                <button type="button" class="btn">XL</button>
                                            </div> 
                                        </div> -->
                                        <!-- <div class="p-color">
                                            <h4>Color:</h4>
                                            <div class="btn-group btn-group-sm">
                                                <button type="button" class="btn">White</button>
                                                <button type="button" class="btn">Black</button>
                                                <button type="button" class="btn">Blue</button>
                                            </div> 
                                        </div> -->
                                        <div class="action">
                                            <a class="btn" href="{% url 'add_to_cart' product.id %}"><i class="fa fa-shopping-cart"></i>Add to Cart</a>
                                            <a class="btn" href="#"><i class="fa fa-shopping-bag"></i>Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row product-detail-bottom">
                            <div class="col-lg-12">
                                <ul class="nav nav-pills nav-justified">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="pill" href="#description">Mahsulot haqida</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#specification">Specification</a>
                                    </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="pill" href="#reviews">Izohlar ({{reviews_count}})</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div id="description" class="container tab-pane active">
                                        <h4>{{product.nomi}}</h4>
                                        <p>{{product.tavsif}}</p>
                                    </div>
                                    <!-- <div id="specification" class="container tab-pane fade">
                                        <h4>Product specification</h4>
                                        <ul>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                            <li>Lorem ipsum dolor sit amet</li>
                                        </ul>
                                    </div> -->
                                    <div id="reviews" class="container tab-pane fade">
                                        {% for review in reviews %}
                                            <div class="reviews-submitted">
                                                <div class="reviewer">{{ review.user }} - <span>{{ review.time|date:"d M Y" }}</span></div>
                                                <div class="ratting">
                                                    {% for i in 1|to:5 %}
                                                        <i class="fa fa-star{% if i > review.reyting %}-o{% endif %}"></i>
                                                    {% endfor %}
                                                </div>
                                                <p>{{ review.izoh }}</p>
                                            </div>
                                        {% endfor %}
                                    
                                        {% if user.is_authenticated %}
                                            <h3>Izoh qoldiring</h3>
                                            <form method="post" class="review-form">
                                                {% csrf_token %}
                                                <div class="ratting">
                                                    <!-- Display 4 stars initially -->
                                                    <i class="far fa-star reytinguser" id="star1"></i>
                                                    <i class="far fa-star reytinguser" id="star2"></i>
                                                    <i class="far fa-star reytinguser" id="star3"></i>
                                                    <i class="far fa-star reytinguser" id="star4"></i>
                                                    <i class="far fa-star reytinguser" id="star5"></i>

                                                    
                                                    <!-- Hidden field for reyting (rating) -->
                                                    {{ form.reyting }}
                                                </div>
                                                <div class="row form">
                                                    <div class="col-sm-12">
                                                        {{ form.izoh }}
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit">Jo'natish</button>
                                                    </div>
                                                </div>
                                            </form>
                                            
                                            <!-- Script to handle star rating selection -->
                                            <script>
                                                // Function to handle star rating selection
                                                document.addEventListener('DOMContentLoaded', function () {
                                                    const stars = document.querySelectorAll('.reytinguser');
                                                    const reytingField = document.querySelector('#id_reyting'); 
                                                    
                                                    reytingField.style.display = 'none';
                                                    // Replace id_reyting with actual ID
                                            
                                                    stars.forEach((star, index) => {
                                                        star.addEventListener('mouseover', function () {
                                                            highlightStars(index);
                                                        });
                                            
                                                        star.addEventListener('click', function () {
                                                            const ratingValue = index + 1;
                                                            reytingField.value = ratingValue;
                                                            highlightStars(index);
                                                        });
                                            
                                                        star.addEventListener('mouseout', function () {
                                                            const currentRating = reytingField.value;
                                                            if (currentRating === '') {
                                                                highlightStars(-1); // Clear stars if no rating selected
                                                            } else {
                                                                highlightStars(currentRating + 1);
                                                            }
                                                        });
                                                    });
                                            
                                                    function highlightStars(index) {
                                                        stars.forEach((star, i) => {
                                                            if (i <= index) {
                                                                star.classList.remove('far');
                                                                star.classList.add('fas');
                                                            } else {
                                                                star.classList.remove('fas');
                                                                star.classList.add('far');
                                                            }
                                                        });
                                                    }
                                                });
                                            </script>
                                            
                                            
                                        {% else %}
                                            <p><a href="{% url 'login' %}">Log in</a> to leave a review.</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        {% if mahsulotlar %}
                        <div class="product">
                            <div class="section-header">
                                <h1>O'xshash mahsulotlar</h1>
                            </div>

                            <div class="row align-items-center product-slider product-slider-3">
                                {% for mahsulot in mahsulotlar %}
                                <div class="col-lg-3">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="{% url 'product_detail' mahsulot.id %}">{{ mahsulot.nomi }}</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            {% with first_product=mahsulot.Mahsulot.first %}
                                            <a href="{% url 'product_detail' mahsulot.id %}">
                                                <img src="{{ first_product.rasmi.url }}" alt="{{ mahsulot.nomi }}">
                                            </a>
                                            {% endwith %}
                                            <div class="product-action">
                                                <a href="{% url 'add_to_cart' mahsulot.id %}"><i class="fa fa-cart-plus"></i></a>
                                                <a href="{% url 'add_to_wishlist' mahsulot.id %}"><i class="fa fa-heart"></i></a>
                                                <a href="#"><i class="fa fa-search"></i></a>
                                            </div>
                                        </div>
                                        <div class="product-price">
                                            <h3><span>Uzs</span>{{ mahsulot.narxi }}</h3>
                                            <a class="btn" href="{% url 'add_to_cart' mahsulot.id %}"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Category</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    {% for kategoriya in kategoriyas %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-home"></i>{{kategoriya.nomi}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                {% for new_product in last_products %}
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{new_product.nomi}}</a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="{% url 'product_detail' new_product.id %}">
                                            {% with first_product=new_product.Mahsulot.first %}                        
                                            <img src="{{ first_product.rasmi.url }}" alt="Product Image">
                                            {% endwith %}   

                                        </a>
                                        <div class="product-action">
                                            <a href="{% url 'add_to_cart' new_product.id %}"><i class="fa fa-cart-plus"></i></a>
                                            <a href="{% url 'add_to_wishlist' new_product.id %}"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3><span>$</span>{{new_product.narxi}}</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        
                        <!-- <div class="sidebar-widget brands">
                            <h2 class="title">Our Brands</h2>
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                <li><a href="#">Nunc </a><span>(67)</span></li>
                                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                                <li><a href="#">Fusce </a><span>(89)</span></li>
                                <li><a href="#">Sagittis</a><span>(28)</span></li>
                            </ul>
                        </div> -->
                        
                        <!-- <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div> -->
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
        <!-- Product Detail End -->
        
        <!-- Brand Start -->
        <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider">
                    {% for logo in logos %}
                    <div class="brand-item"><img src="{{logo.img_link}}" alt=""></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Brand End -->
        {% endblock content %}